Import important libraries

In [17]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [18]:
import pandas as pd
data = pd.read_csv("/content/Fish.csv")
data.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340

**Dependent variable vs independent variable**

In [19]:
x = data[["Height" , "Width" , "Length1" , "Length2" , "Length3"]]
y = data["Weight"]
x

      Height   Width  Length1  Length2  Length3
0    11.5200  4.0200     23.2     25.4     30.0
1    12.4800  4.3056     24.0     26.3     31.2
2    12.3778  4.6961     23.9     26.5     31.1
3    12.7300  4.4555     26.3     29.0     33.5
4    12.4440  5.1340     26.5     29.0     34.0
..       ...     ...      ...      ...      ...
154   2.0904  1.3936     11.5     12.2     13.4
155   2.4300  1.2690     11.7     12.4     13.5
156   2.2770  1.2558     12.1     13.0     13.8
157   2.8728  2.0672     13.2     14.3     15.2
158   2.9322  1.8792     13.8     15.0     16.2

[159 rows x 5 columns]

Train data

In [20]:
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size=0.3, random_state=10)
clf = LinearRegression()
clf

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

**Fit data for Training**

In [21]:
clf.fit(X_train, Y_train)
clf.predict(X_test)

array([ -87.84321884,  168.20569933,  207.55330308,  687.70771533,
        450.59823258,  229.81721886,  418.22868451,  547.28559303,
        536.02016027,  367.92959207,  293.84914231,   91.07573467,
        136.7079308 ,  648.3302427 ,   97.74695415, -167.10010434,
        362.3365844 ,  379.38898613,  213.36612109,  275.25571862,
        635.52407824,  247.71966636,  -84.93243726,  405.32217152,
        677.84849518,  165.39385121,  145.01626641,  321.24143098,
        739.88914724, -207.72372303,  169.26821821,  362.28649987,
        901.2252181 ,  224.62978596,  238.21517979,  382.70713077,
        699.63430908,  789.71950537,  315.35012494, -168.79832658,
       -258.62051973,  950.61384246,  833.14703653,  807.41138268,
        370.78751744,  336.07800518,  487.49045568,  143.01866574])

**Model performmance**

In [22]:
clf.score(X_test, Y_test)

0.8089760182100185

Let's **Predict**

In [25]:
clf.coef_
clf.intercept_
clf.predict([[15.5 , 3.67 ,27.3 , 28.4 , 30.0]])

array([628.73136418])